.box__greate-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(211, 196, 156);
  width: 100vw;
  height: 100vh;
  color: rgb(63, 107, 65);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.heading {
  font-weight: bold;
  background-color: rgb(32, 31, 31);
  /* width: 40%; */
  color: rgb(192, 176, 152);
  padding: 10px;
}

.image__box {
  width: 400px;
  height: 300px;
}
.image__pic {
  width: 400px;
  height: 300px;
}

.content__section {
  width: 100%;
}
.contact__section-list {
}
.contact-item {
  position: relative;
  list-style-type: none;
  height: 20px;
  margin: 10px;
}
.del {
  margin: 0;
}

.link {
  top: 0%;
  position: relative;
  left: 1%;
  font-size: 14px;
  text-decoration: none;
  color: rgb(63, 107, 65);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.link:hover {
  top: 0%;
  position: absolute;
  left: 2%;
  color: rgb(41, 70, 42);
  transform: scale(1.5);
}
.text-item {
  list-style-type: none;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.text {
  margin-left: 60px;
  line-height: 20px;
}
